<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @item.item %><br>
  Description: <%= @item.desc %> <br>
  Number: <%= @item.number %><br>
  Category: <%= @item.category %><br>
  Year: <%= @item.year %><br>
    <td><%= image_tag @item.image.url(:thumb) %></td>
</p>

<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
